:root {
    --primary-font-family: "poppins", sans-serif;
    --heading-font-family: "playfair display", serif;
    --primary-color: #2F3E46;
    --secondary-color: #354F52;
    --tertiary-color: #52796F;
    --accent-color: #84A98C;
    --fifth-color: #CAD2C5;
}

.hero-element {
    padding: 0 20px;
    background-color: var(--accent-color);
    border: 10px solid var(--primary-color);
    height: 100vh;
    width: 100vw;
}

.hero-content {
    position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tools-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px 0;
  letter-spacing: 1.5;
}

.main-body-content {
  margin-top: 100px;
}

.main-body-element {
  padding: 100px 200px;
  height: 100vh;
  width: 100vw;
}

.about-me-element {
  margin-bottom: 100px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
}

.tools-element-about {
  margin-bottom: 100px;

}
.tools-element-homepage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 1.5;
  text-align: center;
}

.certificates-element {
  margin-bottom: 100px;
}

.certificates {
  filter: grayscale(0.6);
}

body {
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    background-color: var(--fifth-color);
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 110px;
    font-family: var(--heading-font-family);
    line-height: 1.5;
    color: var(--primary-color);
    text-transform: capitalize;
    letter-spacing: 5px;
}

h2 {
    font-size: 24px;
    color: var(--secondary-color);
    letter-spacing: 3px;
}


.hero-content p {
    font-size: 36px;
    line-height: 1;
}

.hero-btn-branding {
    border-radius: 4px;
    font-size: 30px;
    padding: 8px 26px;
    transition: all 100ms ease;
    color: var(--primary-color);
  }
  
  .hero-btn-branding:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  .main-body-content h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    letter-spacing: 2px;
  }

  .main-body-content p {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
  }

  .btn-branding {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-weight: bold;
  }

  .homepage-buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .homepage-about-button {
    margin: 20px;
  }
  .homepage-projects-button {
    margin: 20px;
  }

  .head-shot {
    border-radius:100%;
    border: 4px solid #2F3E46;
    float: right;
    background-color: #354F52;
    margin-top: 80px;
  }

@media (max-width: 768px) {
    .hero-content {
        padding: 0 20px;
    }
    .main-body-element{
        padding: 50px 20px 50px;
    } 
    .main-body-content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-element h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    .hero-element h2 {
        font-size: 20px;
    }
    .hero-element p {
        font-size: 25px;
        line-height: 1;
    }
  
    .certificates {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    .head-shot{
      float: none;
      align-items: center;
      justify-content: center;
    }
}